.NewTodoForm {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
form #text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(51, 49, 49);
}
form button {
    background-color: rgb(4, 92, 99);
    border: 1px solid white;
    height: 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
